$theme: (
    1: #21414b,
    2: #37515E,
    3: #628AA1,
    // 3: #4B697A,
    4: #B8DBD9,
    5: #F4F4F9
);

$color-danger: #c92053;

$font-family: Ubuntu, Calibri;
$code-font-family: 'Courier New', Courier, monospace;
