@import './global.scss';

// MAKES SURE THE GODDAMN ORANGE BOX DOESN'T APPEAR
*:focus {
    outline: 0 !important;
}

// Buttons and Text Areas
$border-color: map-get($theme, 3);
$text-color: map-get($theme, 4);

textarea, button {
    background: transparent;
    border-color: $border-color;
    color: $text-color;
}

button {
    border: 1px solid $border-color;
    border-radius: 3px;
    font: 14pt $font-family;
    transition: 0.5s;

    &:hover {
        transition: 0.5s;
        background: $text-color;
    }
}

.btn-sm {
    font: 11pt $font-family !important;
}

// code {
//     white-space: pre;
// }

// hr {
//     color: #888;
//     background-color: #888;
//     margin-top: 15px;
// }

// table {
//     margin: 5px;
// }

// /* #processInfo {
//     border: 1px solid #888;
// } */

// #unlinkWebviewDiv {
//     font-size: 14pt;
//     padding: 5px;
//     margin: 15px;
//     border: 1px solid white;
// }

// .hiddenItem code {
//     color: #888;
//     font-style: italic;
// }

// .emptyItem code {
//     color: rgb(167, 127, 67);
//     font-style: italic;
// }

// .streamItem {
//     /* border: 1px solid #888; */
//     padding: 9px;
//     border-bottom: 1px solid #999;
// }

// .header {
//     font-size: 13pt;
//     font-weight: bold;
// }

// .header-small {
//     font-size: 11pt;
//     font-weight: bold;
// }
