@import './global.scss';

// ===============================================================================================================
// FIXES
// ===============================================================================================================

// MAKES SURE THE GODDAMN ORANGE BOX DOESN'T APPEAR
*:focus {
    outline: 0 !important;
}

// Fix cursor hover for links even if they don't have an href
a:hover {
    cursor: pointer;
}

// Title on top of every display
h1 {
    margin-top: 0.7em;
}

// Heading 2
h2 {
    margin-bottom: 0.2em;
}

// Buttons and Text Areas/Inputs
$border-color: var(--vscode-text-block-quote-border);
$text-color: var(--vscode-foreground);

button {
    // Fix cursor
    cursor: pointer;

    // General Stuff
    border: 1px solid $text-color;
    border-radius: 3px;
    font: 14pt $font-family;
    
    // Hover Effect
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        background: $text-color;
    }
}

.btn-sm {
    font: 11pt $font-family !important;
}

textarea, input, button {
    background: transparent;
    border-color: $border-color;
    color: $text-color;
}

textarea, input {
    box-sizing: border-box;
    resize: none;
    width: 100%;

    font-family: 'Courier New', Courier, monospace;
    color: map-get($theme, 4);

    &::-webkit-scrollbar-thumb {
        background-color: map-get($theme, 4);
    } 
}

input {
    border: 1px solid;
    padding: 0.2em;
}

::placeholder {
    color: $text-color;
}

// Table formatting 
// Such as borders
table {
    border: 1px solid;
    border-collapse: collapse;

    tr {
        th, td {
            border: 1px solid;
            padding: 4px;
        }
    }
}

// ===============================================================================================================
// Custom Elements
// ===============================================================================================================

// For selection menus made of links
.selection {
    font-size: 12pt;
    margin-bottom: 0.2em;

    :not(:first-child) {
        margin-left: 0.5em;
    }
}

// Selected Test case
.selected-case {
    font-weight: bolder;
    text-decoration: underline;
}

// code {
//     white-space: pre;
// }

// hr {
//     color: #888;
//     background-color: #888;
//     margin-top: 15px;
// }

// table {
//     margin: 5px;
// }

// .emptyItem code {
//     color: rgb(167, 127, 67);
//     font-style: italic;
// }

// .streamItem {
//     /* border: 1px solid #888; */
//     padding: 9px;
//     border-bottom: 1px solid #999;
// }

// .header {
//     font-size: 13pt;
//     font-weight: bold;
// }

// .header-small {
//     font-size: 11pt;
//     font-weight: bold;
// }
