@import './global.scss';
@import './main.scss';

// General formatting
#compileErrorDiv {
    padding: 0 7px 2px 7px;
    margin: 10px;
    background: var(--vscode-text-code-block-background);

    h2 {
        margin-top: 0.4em;
        margin-bottom: 0.2em;
    }

    p {
        margin: 0 0 2px 0;
        font-family: 'Courier New', Courier, monospace;
    }
}

#streamOut {
    display: flex;
    width: 100%;

    div {
        margin: 0 25px 10px 0;
        flex-basis: 50%;
        background: var(--vscode-text-block-quote-background);

        h3 {
            margin-bottom: 4px;
        }

        textarea {
            width: 100%;
        }
    }
}

// Verdict table
table {
    border: 1px solid;
    border-collapse: collapse;

    tr {
        th, td {
            border: 1px solid;
            padding: 4px;
        }
    }
}

// Selected Test case
.selected-case {
    font-weight: bolder;
    text-decoration: underline;
}

// Verdict-related stuff
.verdict {
    margin-left: 7px;
}

.verdict-style-ac {
    color: mix(map-get($theme, 4), green, 80%);
    font-weight: bold;
}

.verdict-style-wa {
    // color: red;
    color: mix(map-get($theme, 4), red, 80%);
    font-weight: bold;
}

.verdict-style-re {
    color: mix(map-get($theme, 4), orange, 80%);
    font-weight: bold;
}

.verdict-style-wj, .verdict-style-jd { // Waiting for judge
    color: map-get($theme, 4);
    font-style: italic;
}
