@import './global.scss';
@import './main.scss';

// General formatting
h1 {
    margin-top: 0;
}

#compileErrorDiv {
    border: 1px solid map-get($theme, 3);
    padding: 0 7px 2px 7px;
    margin: 10px;

    h3 {
        margin-top: 5px;
        margin-bottom: 2px;
    }

    p {
        margin: 0 0 2px 0;
        // border: 1px solid red;
    }
}

.case-div {
    margin-bottom: 30px;

    h2 {
        margin-bottom: 0;
    }
}

// Verdict-related stuff
#verdictDiv {
    margin-left: 0;
}

.verdict {
    margin-left: 7px;
}

.verdict-style-ac {
    color: mix(map-get($theme, 4), green, 80%);
    font-weight: bold;
}

.verdict-style-wa {
    // color: red;
    color: mix(map-get($theme, 4), red, 80%);
    font-weight: bold;
}

.verdict-style-re {
    color: mix(map-get($theme, 4), orange, 80%);
    font-weight: bold;
}

.verdict-style-wj, .verdict-style-jd { // Waiting for judge
    color: map-get($theme, 4);
    font-style: italic;
}
