<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Output of "${srcName}"</title>
        <style>
            code {
                white-space: pre-line;
            }

            hr {
                color: #888;
                background-color: #888;
                margin-top: 15px;
            }

            table {
                margin: 5px;
            }

            /* #processInfo {
                border: 1px solid #888;
            } */

            .streamItem {
                /* border: 1px solid #888; */
                padding: 7px;
                border-bottom: 1px solid #999;
            }

            .header {
                font-size: 13pt;
                font-weight: bold;
            }

            .header-small {
                font-size: 11pt;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <!-- VUE.JS IMPORT - USE THE MINIFIED VERSION FOR PERFORMANCE IF POSSIBLE -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

        <script>
            Vue.component('std-row', {
                props: ['title', 'visible'],
                template: `
                <tr id="std-row-{{ title }}">
                    <td class="streamItem">
                        <span class="header-small">{{ title }}</span><br>
                        <a href="#std-row-{{ title }}" v-on:click="() => visible = !visible">{{ visible ? 'Visible' : 'Hidden' }}</a>
                    </td>
                    <td v-if="visible" class="streamItem"><code><slot></slot></code></td>
                    <td v-if="!visible" class="streamItem"><code>Hidden.</code></td>
                </tr>`
            });
        </script>

        <h1>Output of "${srcName}"</h1>
        
        <div id="compileError" v-if="data !== ''">
            <h2>Compile Errors</h2>
            <code>{{ data }}</code>
        </div>
        
        <div id="cases" v-if="visible">
            <div v-for="curCase in cases">
                <hr>
                <h2>Case #{{ curCase.id + 1 }}</h2>

                <table id="streamTable">
                    <std-row title="Input" v-bind:visible="false">{{ curCase.stdin }}</std-row>
                    <std-row title="Output" v-bind:visible="true">{{ curCase.stdout }}</std-row> 
                    <std-row title="Errors" v-bind:visible="true">{{ curCase.stderr }}</std-row> 
                </table>
        
                <table id="processInfo">
                    <!-- <tr><td class="header">Info</td></tr> -->
                    <tr>
                        <td>Time Elapsed:</td>
                        <td><i>{{ curCase.time !== -1 ? curCase.time.toString() + 'ms' : 'Unknown' }}</i></td>
                    </tr>
                    <tr>
                        <td>Memory Usage:</td>
                        <td><i>{{ curCase.memory !== -1 ? (Math.round(curCase.memory / 1.024) / 1000).toString() + 'KB' : 'Negligible' }}</i></td>
                    </tr>
                    <tr v-if="curCase.exitInfo[0] !== ''">
                        <td>{{ curCase.exitInfo[0] }}</td>
                        <td><i>{{ curCase.exitInfo[1] }}</i></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="caseCountVar" style="visibility: hidden;">
            ${caseCount}
        </div>

        <script>
            const caseCount = parseInt(document.getElementById('caseCountVar').innerHTML);

            // Will use if needed later
            function replaceNewlines(string) { 
                return string;
                // return string.replace(/\r?\n/g, '<br />');
            }
            
            const casesApp = new Vue({
                el: '#cases',
                data: {
                    visible: true,
                    cases: []
                },
                methods: {
                    toggleVar: function(id, key) {
                        this.cases[id][key] = !this.cases[id][key];
                    }
                }
            });
            
            const compileErrorApp = new Vue({
                el: '#compileError',
                data: {
                    data: ''
                }
            });

            // Initializing cases
            for (var i = 0; i < caseCount; i++) {
                casesApp.cases.push({
                    id: i,
                    visible: true,
                    stdin: '',
                    stdout: '',
                    stderr: '',
                    time: -1,
                    memory: -1,
                    exitInfo: ['', '']
                });
            }
            
            window.addEventListener('message', event_ => {
                const event = event_.data, type = event.type, caseNo = event.caseNo, curCase = casesApp.cases[caseNo];
                // console.log(`Event: ${JSON.stringify(event)}`);
                
                if (type == 'compilerError') {
                    compileErrorApp.data = replaceNewlines(event.data);
                    if (event.fatal) {
                        casesApp.visible = false;
                    }
                }
                else if (type == 'beginCase') {
                    curCase.stdin = replaceNewlines(event.input);
                }
                else if (type == 'updateTime') {
                    curCase.time = Math.max(curCase.time, event.newElapsed);
                }
                else if (type == 'updateMemory') {
                    curCase.memory = event.newMemory;
                }
                else if (type == 'updateStdout') {
                    // console.log(event.data.toString());
                    curCase.stdout += replaceNewlines(event.data);
                }
                else if (type == 'updateStderr') {
                    curCase.stderr += replaceNewlines(event.data);
                }
                else if (type == 'end') {
                    curCase.exitInfo = event.endMsg;
                }
            });

            const vscode = acquireVsCodeApi();
            vscode.postMessage('ready');
        </script>
    </body>
</html>