<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Output of "${srcName}"</title>
        <style>
            code {
                white-space: pre-line;
            }
        </style>
    </head>
    <body>
        <h1>Output of "${srcName}"</h1>
        
        <div id="compileError" v-if="data !== ''">
            <h2>Compile Errors</h2>
            <code>
                {{ data }}
            </code>
        </div>
        
        <div id="cases" v-if="visible">
            <div v-for="curCase in cases">
                <h2>Case #{{ curCase.id + 1 }}</h2>
        
                <div v-if="curCase.stdinVisible">
                    <h3>Input</h3>
                    <code>
                        {{ curCase.stdin }}
                    </code>
                </div>
                <button v-on:click="() => toggleVar(curCase.id, 'stdinVisible')">Toggle Input</button>
                <br>
        
                <div v-if="curCase.stdoutVisible">
                    <h3>Output</h3>
                    <code>
                        {{ curCase.stdout }}
                    </code>
                </div>
                <button v-on:click="() => toggleVar(curCase.id, 'stdoutVisible')">Toggle Output</button>
                <br>
        
                <div v-if="curCase.stderrVisible">
                    <h3>Errors</h3>
                    <code>
                        {{ curCase.stderr }}
                    </code>
                </div>
                <button v-on:click="() => toggleVar(curCase.id, 'stderrVisible')">Toggle Errors</button>
                <br>
        
                <div>
                    <h4>Info</h4>
                    <p>Time Elapsed: {{ curCase.time !== -1 ? curCase.time.toString() + 'ms' : 'negligible' }}</p>
                    <p>Memory Usage: {{ curCase.memory !== -1 ? (Math.round(curCase.memory / 1.024) / 1000).toString() + 'KB' : 'negligible' }}
                    <p v-if="curCase.exitInfo !== ''">{{ curCase.exitInfo }}</p>
                </div>
            </div>
        </div>

        <div id="caseCountVar" style="visibility: hidden;">
            ${caseCount}
        </div>
        
        <!-- VUE.JS IMPORT - USE THE MINIFIED VERSION FOR PERFORMANCE IF POSSIBLE -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

        <script>
            const caseCount = parseInt(document.getElementById('caseCountVar').innerHTML);

            function replaceNewlines(string) { 
                return string;
                // return string.replace(/\r?\n/g, '<br />');
            }
            
            const casesApp = new Vue({
                el: '#cases',
                data: {
                    visible: true,
                    cases: []
                },
                methods: {
                    toggleVar: function(id, key) {
                        this.cases[id][key] = !this.cases[id][key];
                    }
                }
            });
            
            const compileErrorApp = new Vue({
                el: '#compileError',
                data: {
                    data: ''
                }
            });

            // Initializing cases
            for (var i = 0; i < caseCount; i++) {
                casesApp.cases.push({
                    id: i,
                    stdin: '',
                    stdinVisible: false,
                    stdout: '',
                    stdoutVisible: true,
                    stderr: '',
                    stderrVisible: false,
                    time: -1,
                    memory: -1,
                    exitInfo: ''
                });
            }
            
            window.addEventListener('message', event_ => {
                const event = event_.data, type = event.type, caseNo = event.caseNo, curCase = casesApp.cases[caseNo];
                console.log(`Event: ${JSON.stringify(event)}`);
                
                if (type == 'compilerError') {
                    compileErrorApp.data = replaceNewlines(event.data);
                    if (event.fatal) {
                        casesApp.visible = false;
                    }
                }
                else if (type == 'beginCase') {
                    curCase.stdin = replaceNewlines(event.input);
                }
                else if (type == 'updateTime') {
                    curCase.time = Math.max(curCase.time, event.newElapsed);
                }
                else if (type == 'updateMemory') {
                    curCase.memory = event.newMemory;
                }
                else if (type == 'updateStdout') {
                    console.log(event.data.toString());
                    curCase.stdout += replaceNewlines(event.data);
                }
                else if (type == 'updateStderr') {
                    curCase.stderr += replaceNewlines(event.data);
                }
                else if (type == 'end') {
                    curCase.exitInfo = event.endMsg;
                }
            });

            const vscode = acquireVsCodeApi();
            vscode.postMessage('ready');
        </script>
    </body>
</html>